.timeline__container {
    display:flex;
    border-bottom: 1px solid #3b4754;
    justify-content: space-between;
    align-items: center;
}

.timeline__wrapper {
    display:flex;    
    align-items: center;
    padding-bottom: 0px;

}

.timeline__live {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
}
.timeline__buttons__container {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 0px;
}
.timeline__button {
    font-weight: bold;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
}

.timeline__button:hover {
    color: #dde26a;
}

.timeline__button.active {
    color: #dde26a;
}

.timeline__button.active {
    border-bottom: 2px solid #dde26a;
}

.chart_title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}